#####################
# Add filenames that git should ignore in $ git status
# See http://help.github.com/ignore-files/ for more info
#####################

bin/secure_str_cmp
log/
tmp/
*~
\#*\#
.DS_Store
Thumbs.db

# Databases (useful to ignore database if we still want it to be saved in
# the repository folder but not be version controlled)
*.sqlite3

# TextMate project files (used by TextMate text editor to track
# a set of files organized into a project)
*.tmproj
