<div id="content">
	<h1>ViewEditor#editsection</h1>
	<p>Find me in app/views/view_editor/editsection.html.erb</p>

	<p>
	<%= link_to "Edit Block",  editblock_path %>
	</p>

	<p>
	<%= link_to "Home",  root_path %>
	| <%= link_to "Help", help_path %>
	</p>
</div>