<% @title = "Edit Block" %>
<h1>ViewEditor#editblock</h1>
<p>Find me in app/views/view_editor/editblock.html.erb</p>


<p><%= link_to "Edit Question",  editquestion_path %> | <%= link_to "Edit Section",  editsection_path %></p>
