<p><%= link_to "Equation Editor", "/editor/equations" %></p>
<p><%= link_to "View Editor", editsection_path %></p>
<p><%= link_to "Evaluator", "/evaluator" %></p>
<p><%= link_to "Help", help_path %></p>
