
<% @title = "Lembic" %>
	<div id ="home">
		<%= link_to "Equation Editor", equations_path %> | 
		<%= link_to "View Editor", edit_blocks_path %> | 
		<%= link_to "Evaluator", evaluator_path %>
	</div>
	

