
<% @title = "Lembic" %>
<p><%= link_to "Help", help_path %></p>
<p><%= link_to "Equation Editor", equations_path %></p>
<p><%= link_to "View Editor", editblock_path %></p>
<p><%= link_to "Evaluator", evaluator_path %></p>
