<div id="content">
	<%= link_to "Variable Editor", "/editor/variables" %></p>
	<%= link_to "Equation Editor", "/editor/equations" %></p>
	<%= link_to "View Editor", editsection_path %></p>
	<%= link_to "Evaluator", "/evaluator" %></p>
</div>