
<% @title = "Lembic" %>
	<div id ="home">
		<%= link_to "Equation Editors", equations_select_path %> | 
		<%= link_to "View Editor", blocks_path %> | 
		<%= link_to "Evaluator", evaluator_path %>
	</div>
	

