<h1> Workflow </h1>


    <div id="vtab">
        <ul>
            <li class="home selected"></li>
            <li class="login"></li>
            <li class="support"></li>
        </ul>
        <div>
            <h4>
                Welcome Home!</h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dictum tincidunt
            metus, vitae porta elit mollis eget. Sed id nisl nec lorem tincidunt sodales. Etiam
            a dolor tellus, vel rhoncus ligula? Duis adipiscing vehicula urna ut pellentesque!
            Duis eleifend lacinia diam a rhoncus. Integer viverra dolor eget eros consequat
            facilisis. Curabitur dignissim dignissim lacinia!
            <br />
            <br />
            Sed bibendum velit et magna placerat bibendum. Donec vitae leo ante. Nulla semper
            dapibus felis et luctus. Donec congue, lectus eget ullamcorper sagittis, orci enim
            aliquam risus, eget adipiscing quam neque sed eros. Donec commodo nisi varius augue
            lacinia pharetra. Cras lacinia fermentum luctus. Nunc venenatis commodo lorem, vitae
            pulvinar neque dignissim sed. Proin blandit rhoncus risus, sit amet eleifend quam
            eleifend sed.
        </div>
        <div>
            <h4>
                Secure Login</h4>
            <form id="loginForm" action="">
            <fieldset>
                <legend>You need to sign in with your Email & Password to continue.</legend>
                <div>
                    <label for="email">
                        Email:</label>
                    <input type="text" name="email" id="email" />
                </div>
                <div>
                    <label for="password">
                        Password:</label>
                    <input type="password" name="password" id="password" />
                </div>
                <div>
                    <input id="login" type="submit" value="Fake Login" />
                </div>
            </fieldset>
            </form>
        </div>
        <div>
            <h4>
                Online Support</h4>
            Maecenas in varius nulla. Morbi leo elit, volutpat ac faucibus in; aliquam eget
            massa. Nullam a neque ac turpis luctus venenatis et placerat risus. Quisque pretium
            scelerisque sapien, et accumsan nunc venenatis non. Donec ullamcorper, leo gravida
            hendrerit interdum, tellus nisi vestibulum justo; quis dignissim enim risus quis
            ipsum.<br />
            <br />
            Mauris fringilla, urna vitae posuere commodo, neque tellus tincidunt nisi, aliquam
            scelerisque purus nulla ac enim. Cras urna urna, vestibulum ut aliquam sed, laoreet
            et justo! Vestibulum eleifend porta mollis. Donec molestie, turpis sed commodo consequat,
            erat purus sollicitudin arcu, non vestibulum risus lacus ac ipsum. Curabitur vitae
            pellentesque purus.
        </div>
    </div>
