<h3>Current Variables</h3>

<table>

  <tr>
    <th>Array?</th>
    <th>Type</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
  
  <% for variable in @variables %>
    <tr>
    
        <% if variable.array == 0 %>
            <td>No</td>
        <% elsif variable.array == 1 %>
            <td>Yes</td>
        <% end %>
        
        <% if variable.variable_type == 0 %>
            <td>Categorical</td>
        <% elsif variable.variable_type == 1 %>
            <td>Integer</td>
        <% elsif variable.variable_type == 2 %>
            <td>Real</td>
        <% elsif variable.variable_type == 3 %>
            <td>Date and Time</td>
        <% end %>
     
      <td><%= variable.variable_type %></td>
      <td><%= variable.name %></td>
      <td><%= variable.description %></td>
      <td><%= button_to "Delete this variable", "/editor/delete_variable?id=#{variable.id}", {:confirm => "Are you sure you want to delete the variable #{variable.name}?",
               :method => :delete} %></td>
    </tr>
  <% end %>
  
</table>
