<h1>Evaluate</h1>

<table>
  <tr>
    <th>Enter your variables in this form: :varName => value,
    :varName2 => value2, arrVar1 => [value3, value4, value5]
    </th>
    <th>Output</th>
  </tr>
  
  <tr>
    <td>
      <%= form_for(:model_values) do |f| %>
        <%= f.text_area :values %>
        <%= f.submit "Save Relationship" %>
      <% end %>
    </td>
    <td>
      <ul>
        <% for result in @results %>
          <li><%= result.value %></li>
        <% end %>
    </td>
  </tr>
</table>

