
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


a {
    text-decoration: none;
    color: #113855;
}


a:visited{
    color:#008A8A;
}

#array_output{
	padding: 5px 0 10px 0;
	text-align: center;
	font-size: 2em;
	color: #1e3652;
}
body {
	margin: 50px 0px; 
	padding:0px;
	text-align:center;
	background-color:#dee6ed;
}

.button {
    font-size: 1em !important;
}
#centered {
	text-align: center;
	margin: 0 150px 0 120px;
	padding: 10px;
   -moz-brder-radius: 6px;
    border-radius: 6px;
	background-color: #fff8cb;
}
#choose_file{
    text-align: center;
}

#col_header {
	text-align: center;
	background-color: #fff;
	color:  #5c7e99;
	font-size: 1.2em;
	font-weight: bold;
}
.comment{
    color: #1e3652;
}

#container {
	width:800px;
	margin:0px auto;
	padding:15px;
	text-align:left;
	border-radius:10px;
    -moz-border-radius:10px; /* Firefox 3.6 and earlier */
	background-color:#dee6ed;
}

#content {
	margin: 10px;
	padding:15px;
	text-align:left;
	border-radius:10px;
    -moz-border-radius:10px; /* Firefox 3.6 and earlier */
	background-color: #fff;
    font-family: Garamond, Baskerville, "Times New Roman", serif;
}

#date_range {
	margin-left: 50px;
}

.delete {
  text-align: center;
  width: 20px;
}

.delete button {
  width: 20px !important;
  height: 20px;
  margin: 10px;
}

.dialog_link {
	cursor: pointer;
}
.dialog_link:hover{
	color: #95b7d0;
}
.error {
    color: red;
}

#expression { 
	border-radius:10px;
    -moz-border-radius:10px; /* Firefox 3.6 and earlier */
	background-color: #dee6ed;
	padding: 20px;
	margin: 20px 100px 20px 100px;
}

#expression > textarea {
	height: 100px;
	width: 100%;
}

#expresion > text_field {
	text-align: left;
}

#full_array {
	font-size: .5em;
}
#full_array table {
	width: 600px;
	height: 600px;
}
#full_array td {
	width: 10px;
	padding: 0px;
	margin: 0px;
}
#full_array th {
	text-align: center;
	width: 10px;
	padding: 0px;
	margin: 0px;
}
#full_array h1{
	width: 100%;
	margin: 0 0 10px 0;
}
.help {
	padding: 0 20px 0 20px;
}
.help div {
	margin: 0 40px 0 40px;
}

#hidden{
    visibility:hidden;
}

#home {
	height: 100px;
	padding: 100px;
	text-align: center;
	font-size: 2em;
}

h1 {
    background-color:#1e3652;
	color: #dee6ed;
    font-family: Garamond, Baskerville, "Times New Roman", serif;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
        padding:10px;
    border-radius:10px;
    -moz-border-radius:10px; /* Firefox 3.6 and earlier */
}

h3 {
    background-color:#5c7e99;
	color: #dee6ed;
    font-family: Garamond, Baskerville, "Times New Roman", serif;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
    border-radius:10px;
    -moz-border-radius:10px; /* Firefox 3.6 and earlier */
}

.input_form{
	border-radius:10px;
    -moz-border-radius:10px; /* Firefox 3.6 and earlier */
	border-color: #ccc;
	padding: 20px;
	margin: 10px;
}
.input_form div {
	margin: 5px;
	text-align: left;
}
.input_form label{
	width: 30%;
	display: block;
	float: left;
	text-align: left;
	margin: 0 0 0 50px;
}
.left_column{
	width: 140px;
	float: left;
}
.left_column h3{
	width: 100%;
	padding: 0 0 0 0;
	margin: 5px 0 2px 0;
	border-style: none;
	border-radius: 0;
	background: none;
	font-size: 1em;
	color: #1e3652;
	background-color: #fff;
}
.left_column table {
	border-style: none;
}
.left_column table th{
	padding: 5px 5px 5px 5px;
}
li {
  display: inline;
}

.login {
    width:200px;
    float:left;
}

.login_form{
	border-radius:10px;
    -moz-border-radius:10px; /* Firefox 3.6 and earlier */
	border: 1px solid;
	border-color: #1e3652;
	color: #1e3652;
	width: 50%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	text-align: left;
	padding: 30px 10px 10px 10px;
}
.login_form div {
	margin: 0 0 10px 0;
	text-align: left;
}
.login_form label{
	width: 50px;
	display: block;
	float: left;
	text-align: left;
	margin: 0 50px 0 20px;
}

#login_title{
	float: left;
	width: 15%;
	margin: 10px 0 0px 200px;
	padding: 0 10px 0 10px;
	color: #1e3652;
	font-size: 3em;
	background: #fff;
}

#menu {
    width:750px;
    padding:10px;
    border-radius:10px;
    -moz-border-radius:10px; /* Firefox 3.6 and earlier */
    border-color:#dee6ed;
    margin:0px auto;
    text-align: center;
    background-color:#1e3652;
    font-family: Garamond, Baskerville, "Times New Roman", serif;
    color:#fdde8c;
}

#menu > li {
    width: 200px;
    font-size: 22px;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

#menu a {
	color: #dee6ed;
}
#menu a:hover {
	color: #95b7d0;
}
.preserve_whitespace {
    white-space: pre;
}

.register {
   text-align:center;
}


#register_title{
	float: left;
	width: 50%;
	margin: 10px 0 0px 150px;
	padding: 0 0px 0 10px;
	color: #1e3652;
	font-size: 3em;
	background: #fff;
}

#register_form{
border-radius:10px;
    -moz-border-radius:10px; /* Firefox 3.6 and earlier */
	border: 1px solid;
	border-color: #1e3652;
	color: #1e3652;
	width: 70%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	text-align: left;
	padding: 30px 10px 10px 10px;
}
#register_form div {
	margin: 0 0 10px 0;
	text-align: left;
}
#register_form label{
	width: 120px;
	display: block;
	float: left;
	text-align: left;
	margin: 0 50px 0 20px;
}

#repeating{
    color: #1e3652;
}
.right_column {
	width: 80%;
	float: left;
	margin: 0 0 0 10px;
}
.right_column h3 {
	width: 100%;
}

.right_column textarea{
	width: 60%;
	height: 300px;
}
#serial {
	margin:  0 150px 0 120px;
	padding: 10px;
   -moz-brder-radius: 6px;
    border-radius: 6px;
	background-color: #fff8cb;
}
.sortable ul{
    list-style-type: cicle !important;
    padding-left:2px;
}

.sortable li{
    display: list-item;
}

#slider-style {
    width: 70%; 
    margin-left: 40px
}

.success {
    color: green;
}

#tabs {
    font-size: 1em !important;
}

/* tables */

table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
} 

table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}

table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}

table {
    width:100%;
    border: 1px solid;
    border-color: #5c7e99;
  -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}

td {
    background-color: #e9f2f9;
    border-top:2px solid #fff;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0 10px 5px 10px;
}

th {
    color:  #5c7e99;
    padding: 18px;
    text-align: left;
}

#time {
    border:0; 
    color:#f6931f; 
    font-weight:bold
}

tr td:first-child  {
  -moz-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

tr td:last-child  {
  -moz-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

#truncated_blocks{
    height:200px;
    overflow:auto;
}

#truncated_variables{
    height:200px;
    overflow:auto;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

#upload{
    text-align: center;
}


#var_input_block{
	margin: auto;
	width: 80%;
	text-align: left;
	padding: 0px 20px 10px 20px;
}

.backgroundPopup{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:1;
}
.popupContact{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:384px;
	width:408px;
	background:#FFFFFF;
	border:2px solid #cecece;
	z-index:2;
	padding:12px 12px 12px 20px;
	font-size:13px;
	
}
.popupContact h1{
	text-align:left;
	color:#6FA5FD;
	font-size:22px;
	font-weight:700;
	border-bottom:1px dotted #D3D3D3;
	padding-bottom:2px;
	margin-bottom:20px;
}
.popupContactClose{
	font-size:14px;
	line-height:14px;
	right:6px;
	top:4px;
	position:absolute;
	color:#6fa5fd;
	font-weight:700;
	display:block;
}

.trigger {
	float: left;
}