
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

a {
    text-decoration: none;
    color: #113855;
}

a:hover{
    
}

a:visited{
    color:#63B063;
}

body {
	margin: 50px 0px; 
	padding:0px;
	text-align:center;
	background-color:#dee6ed;
}
#container {
	width:800px;
	margin:0px auto;
	padding:15px;
	text-align:left;
	border-radius:10px;
    -moz-border-radius:10px; /* Firefox 3.6 and earlier */
	background-color:#dee6ed;
}
#content {
	margin: 10px;
	padding:15px;
	text-align:left;
	border-radius:10px;
    -moz-border-radius:10px; /* Firefox 3.6 and earlier */
	background-color: #fff;
    font-family: Garamond, Baskerville, "Times New Roman", serif;
}

#expression { 
	border-radius:10px;
    -moz-border-radius:10px; /* Firefox 3.6 and earlier */
	background-color: #dee6ed;
	padding: 20px;
	margin: 10px;
}
#expression >textarea {
	height: 100px;
	width: 60%;
	margin: 10px 0 10px 0;
}

.input_form label{
	width: 200px;
	display: block;
	float: left;
	text-align: rigth;
	margin: 0 0 0 50px;
}

h1 {
    background-color:#1e3652;
	color: #dee6ed;
    font-family: Garamond, Baskerville, "Times New Roman", serif;
    text-align: center;
    
    padding:10px;
    border-radius:10px;
    -moz-border-radius:10px; /* Firefox 3.6 and earlier */
}

h3 {
    background-color:#5c7e99;
	color: #dee6ed;
    font-family: Garamond, Baskerville, "Times New Roman", serif;
    text-align: center;
    
    padding:10px;
    border-radius:10px;
    -moz-border-radius:10px; /* Firefox 3.6 and earlier */
}

.login {
    width:200px;
    float:left;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  display: inline;
}

#menu {
    width:750px;
    padding:10px;
    border-radius:10px;
    -moz-border-radius:10px; /* Firefox 3.6 and earlier */
    background-color:#dee6ed;
    margin:0px auto;
    text-align: center;
    background-color:#1e3652;
    font-family: Garamond, Baskerville, "Times New Roman", serif;
    color:#fdde8c;
}

#menu > li {
    width: 200px;
    font-size: 22px;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.register {
   text-align:left;
}

table {
    width:750px;
}

.preserve_whitespace {
    white-space: pre;
}

.success {
    color: green;
}

.error {
    color: red;
}