// Place all the styles related to the editor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_equation_name {
  width: 150px;
  vertical-align: middle;
}

#new_equation_expression_string {
  width: 350px;
  vertical-align: middle;
}

/* Center submit button. */
#new_equation_submit {
  display: inline;
}

.submit_paragraph {
  text-align: center;
}

.numeric_input {
  width: 25px;
}