<h3>Current Blocks</h3>

<table class="tablesorter">

<!--Table Headers -->
<thead>
  <tr>
    <th>Name</th>
	<th>Variables</th>
    <th>Connections</th>
	<th><!--Delete --></th>
  </tr>
</thead>

<!--Table Body -->
<tbody>
	
	<!--Each Block on a row, with all its connections put together into a string -->
	<!--TODO: Come up with a better way to display the blocks -->
	<% for block in @blocks %>
	
	  <!--Skip "output" blocks with a non-nil display_type -->
	  <% if !block.display_type.nil? %>
		<% next %>
	  <% end %>
	
	  <!--Prepare strings to be displayed in HTML for this block -->
	  <% name = block.name %>
	
	  <!--Concat block variables fields into a string -->
	  <% variables = "" %>
	  <% for bi in block.block_variables %>
	    <% variables += "#{bi.sort_index}) #{bi.variable.name}, " %>
	  <% end %>
	  <% variables = variables.strip.chomp(",") %>
	
	  <!--Concat block_connection fields into a string -->
	  <% connections = ""%>
	  <% if block.block_connections.size == 0 %>
	    <% connections = "nope" %>
	  <% end %>
	  <% for bc in block.block_connections %>
		<% connections += "#{bc.sort_index}) #{bc.next_block.name} => #{bc.expression_string}, "%>
	  <% end %>
	  <% connections = connections.strip.chomp(",") %>
	
	  <!--Generate HTML for a delete button -->
	  <% buttonHTML = button_to "Delete", delete_block_path(block.id), :confirm => "Are you sure?", :method => :delete %>
	
	  <!--Render this block in HTML -->
      <tr><td><%=name %></td><td><%= variables %></td><td><%=connections %></td><td><%=buttonHTML %></td></tr>
	<% end %>
	
</tbody>  
</table>
