<h3>Current Blocks</h3>

<table class = "tablesorter">

<!--Table Headers -->
<thead>
  <tr>
    <th>Name</th>
	<th>Inputs</th>
    <th>Connections</th>
	<th><!--Delete --></th>
  </tr>
</thead>

<!--Table Body -->
<tbody>
	
	<!--Each Block on a row, with all its connections put together into a string -->
	<!--TODO: Come up with a better way to display the blocks -->
	<% for block in @blocks %>
	
	  <!--Skip "output" blocks with a non-nil display_type -->
	  <% if !block.display_type.nil? %>
		<% next %>
	  <% end %>
	
	  <!--Prepare strings to be displayed in HTML for this block -->
	  <% name = block.name %>
	
	  <!--Concat block_input fields into a string -->
	  <% inputs = "" %>
	  <% for bi in block.block_inputs %>
	    <% inputs += "#{bi.sort_index}) "  %>
	  <% end %>
	  <% inputs = inputs.strip.chomp(",") %>
	
	  <!--Concat block_connection fields into a string -->
	  <% connections = ""%>
      <% if block.block_connections.size == 0 %>
            nope
        <% end %>
	  <% for bc in block.block_connections %>
		<% conn_str = "#{bc.sort_index}) " + bc.next_block.name + " => " + bc.expression_string %>
		<% connections += conn_str + ", " %>
	  <% end %>
	  <% connections = connections.strip.chomp(",") %>
	
	  <!--Generate HTML for a delete button -->
	  <% buttonHTML = button_to "Delete", delete_block_path(block.id), :confirm => "Are you sure?", :method => :delete %>
	
	  <!--Render this block in HTML -->
      <tr><td><%=name %></td><td><%=inputs %></td><td><%=connections %></td><td><%=buttonHTML %></td></tr>
	<% end %>
	
</tbody>  
</table>
