<h3>Current Blocks</h3>

<table class = "tablesorter">

<!--Table Headers -->
<thead>
  <tr>
    <th>Name</th>
	<th>Inputs</th>
    <th>Connections</th>
  </tr>
</thead>

<!--Table Body -->
<tbody>
	
	<!--Each Block on a row, with all its connections put together into a string -->
	<!--TODO: Come up with a better way to display the blocks -->
	<% for block in @blocks %>
	
	  <!--Prepare strings to be displayed in HTML for this block -->
	  <% name = block.name %>
	
	  <!--Concat block_connection fields into a string -->
	  <% connections = ""%>
	  <% for bc in block.block_connections %>
		<% conn_str = bc.next_block + " => " + bc.expression %>
		<% connections += conn_str + ", " %>
	  <% end %>
	  <% connections = connections.strip.chomp(",") %>
	
	  <!--Concat block_input fields into a string -->
	  <% inputs = "" %>
	  <% for bi in block.block_inputs %>
	    <% inputs += bi.variable + ", " %>
	  <% end %>
	  <% inputs = inputs.strip.chomp(",") %>
	
	  <!--Render this block in HTML -->
      <tr><td><%=name %></td><td><%=inputs %></td><td><%=connections %></td></tr>
	<% end %>
	
</tbody>  
</table>
